*.xpi
node_modules/
.DS_Store
misc/
build/
vendor/
!modules/pseudocode/vendor/
!modules/pseudocode/vendor/**
modules/pseudocode/content/
!modules/tikzcd/vendor/
!modules/tikzcd/vendor/**
modules/tikzcd/content/
modules/backlinks/bootstrap.js
